<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Properties>
        <Property name="LOG_PATTERN">%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</Property>
        <Property name="LOG_DIR">/www/wwwlogs/green-lit-engine</Property>
    </Properties>

    <Appenders>
        <!-- 控制台输出 -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </Console>

        <!-- 启动日志 -->
        <RollingFile name="StartupFile" fileName="${LOG_DIR}/startup.log"
                     filePattern="${LOG_DIR}/startup-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1"/>
                <SizeBasedTriggeringPolicy size="100MB"/>
            </Policies>
            <DefaultRolloverStrategy max="30"/>
        </RollingFile>

        <!-- 错误日志 -->
        <RollingFile name="ErrorFile" fileName="${LOG_DIR}/error.log"
                     filePattern="${LOG_DIR}/error-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1"/>
                <SizeBasedTriggeringPolicy size="100MB"/>
            </Policies>
            <DefaultRolloverStrategy max="30"/>
            <ThresholdFilter level="ERROR" onMatch="ACCEPT" onMismatch="DENY"/>
        </RollingFile>

        <!-- 警告日志 -->
        <RollingFile name="WarnFile" fileName="${LOG_DIR}/warn.log"
                     filePattern="${LOG_DIR}/warn-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1"/>
                <SizeBasedTriggeringPolicy size="100MB"/>
            </Policies>
            <DefaultRolloverStrategy max="30"/>
            <ThresholdFilter level="WARN" onMatch="ACCEPT" onMismatch="DENY"/>
        </RollingFile>

        <!-- 信息日志 -->
        <RollingFile name="InfoFile" fileName="${LOG_DIR}/info.log"
                     filePattern="${LOG_DIR}/info-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1"/>
                <SizeBasedTriggeringPolicy size="100MB"/>
            </Policies>
            <DefaultRolloverStrategy max="30"/>
            <ThresholdFilter level="INFO" onMatch="ACCEPT" onMismatch="DENY"/>
        </RollingFile>

        <!-- 调试日志 -->
        <RollingFile name="DebugFile" fileName="${LOG_DIR}/debug.log"
                     filePattern="${LOG_DIR}/debug-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1"/>
                <SizeBasedTriggeringPolicy size="100MB"/>
            </Policies>
            <DefaultRolloverStrategy max="30"/>
            <ThresholdFilter level="DEBUG" onMatch="ACCEPT" onMismatch="DENY"/>
        </RollingFile>

        <!-- SQL日志 -->
        <RollingFile name="SqlFile" fileName="${LOG_DIR}/sql.log"
                     filePattern="${LOG_DIR}/sql-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1"/>
                <SizeBasedTriggeringPolicy size="100MB"/>
            </Policies>
            <DefaultRolloverStrategy max="30"/>
        </RollingFile>
    </Appenders>

    <Loggers>
        <!-- Spring Boot启动日志 -->
        <Logger name="org.springframework.boot" level="info" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="StartupFile"/>
        </Logger>

        <!-- Spring Framework日志 -->
        <Logger name="org.springframework" level="info" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="StartupFile"/>
        </Logger>

        <!-- Tomcat日志 -->
        <Logger name="org.apache.catalina" level="info" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="StartupFile"/>
        </Logger>

        <!-- Hibernate日志 -->
        <Logger name="org.hibernate" level="info" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="StartupFile"/>
        </Logger>

        <!-- SQL Logger -->
<!--        <Logger name="com.keji.green.lit.engine.mapper" level="debug" additivity="false">-->
<!--            <AppenderRef ref="Console"/>-->
<!--            <AppenderRef ref="SqlFile"/>-->
<!--        </Logger>-->
<!--        <Logger name="org.mybatis" level="debug" additivity="false">-->
<!--            <AppenderRef ref="Console"/>-->
<!--            <AppenderRef ref="SqlFile"/>-->
<!--        </Logger>-->
<!--        <Logger name="org.apache.ibatis" level="debug" additivity="false">-->
<!--            <AppenderRef ref="Console"/>-->
<!--            <AppenderRef ref="SqlFile"/>-->
<!--        </Logger>-->
        <Logger name="com.alibaba.druid.sql" level="debug" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="SqlFile"/>
        </Logger>
<!--        <Logger name="com.alibaba.druid" level="debug" additivity="false">-->
<!--            <AppenderRef ref="Console"/>-->
<!--            <AppenderRef ref="SqlFile"/>-->
<!--        </Logger>-->

        <!-- 应用日志 -->
        <Logger name="com.keji.green.lit" level="debug" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="ErrorFile"/>
            <AppenderRef ref="WarnFile"/>
            <AppenderRef ref="InfoFile"/>
            <AppenderRef ref="DebugFile"/>
            <AppenderRef ref="SqlFile"/>
        </Logger>

        <Root level="info">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="ErrorFile"/>
            <AppenderRef ref="WarnFile"/>
            <AppenderRef ref="InfoFile"/>
            <AppenderRef ref="DebugFile"/>
            <AppenderRef ref="SqlFile"/>
        </Root>
    </Loggers>
</Configuration> 