<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.keji.green.lit.engine.mapper.InterviewInfoMapper">
    <resultMap id="BaseResultMap" type="InterviewInfo">
        <id column="interview_id" jdbcType="VARCHAR" property="interviewId"/>
        <result column="uid" jdbcType="VARCHAR" property="uid"/>
        <result column="interview_name" jdbcType="VARCHAR" property="interviewName"/>
        <result column="interview_language" jdbcType="VARCHAR" property="interviewLanguage"/>
        <result column="programming_language" jdbcType="VARCHAR" property="programmingLanguage"/>
        <result column="position_info" jdbcType="VARCHAR" property="positionInfo"/>
        <result column="extra_data" jdbcType="VARCHAR" property="extraData"/>
        <result column="start_time" jdbcType="TIMESTAMP" property="startTime"/>
        <result column="end_time" jdbcType="TIMESTAMP" property="endTime"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="job_requirements" jdbcType="LONGVARCHAR" property="jobRequirements"/>
        <result column="version" jdbcType="INTEGER" property="version"/>
        <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate"/>
        <result column="gmt_modify" jdbcType="TIMESTAMP" property="gmtModify"/>
    </resultMap>
    <sql id="Base_Column_List">
        interview_id, uid, interview_name, interview_language, programming_language, position_info,
    extra_data, start_time, end_time, status, gmt_create, gmt_modify, job_requirements, version
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from interview_info
        where interview_id = #{interviewId,jdbcType=VARCHAR}
    </select>

    <select id="selectPageByUserId" parameterType="java.util.Map" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from interview_info
        where uid = #{uid,jdbcType=BIGINT}
        <if test="status != null">
            and status = #{status,jdbcType=INTEGER}
        </if>
        order by gmt_create desc
        limit #{offset}, #{pageSize}
    </select>

    <select id="countByUserIdAndStatus" parameterType="java.util.Map" resultType="java.lang.Long">
        select count(1)
        from interview_info
        where uid = #{uid,jdbcType=BIGINT}
        <if test="status != null">
            and status = #{status,jdbcType=INTEGER}
        </if>
    </select>

    <insert id="insertSelective" parameterType="InterviewInfo">
        insert into interview_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="interviewId != null">
                interview_id,
            </if>
            <if test="uid != null">
                uid,
            </if>
            <if test="interviewName != null">
                interview_name,
            </if>
            <if test="interviewLanguage != null">
                interview_language,
            </if>
            <if test="programmingLanguage != null">
                programming_language,
            </if>
            <if test="positionInfo != null">
                position_info,
            </if>
            <if test="extraData != null">
                extra_data,
            </if>
            <if test="startTime != null">
                start_time,
            </if>
            <if test="endTime != null">
                end_time,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="gmtCreate != null">
                gmt_create,
            </if>
            <if test="gmtModify != null">
                gmt_modify,
            </if>
            <if test="jobRequirements != null">
                job_requirements,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="interviewId != null">
                #{interviewId,jdbcType=VARCHAR},
            </if>
            <if test="uid != null">
                #{uid,jdbcType=BIGINT},
            </if>
            <if test="interviewName != null">
                #{interviewName,jdbcType=VARCHAR},
            </if>
            <if test="interviewLanguage != null">
                #{interviewLanguage,jdbcType=VARCHAR},
            </if>
            <if test="programmingLanguage != null">
                #{programmingLanguage,jdbcType=VARCHAR},
            </if>
            <if test="positionInfo != null">
                #{positionInfo,jdbcType=VARCHAR},
            </if>
            <if test="extraData != null">
                #{extraData,jdbcType=VARCHAR},
            </if>
            <if test="startTime != null">
                #{startTime,jdbcType=TIMESTAMP},
            </if>
            <if test="endTime != null">
                #{endTime,jdbcType=TIMESTAMP},
            </if>
            <if test="status != null">
                #{status,jdbcType=INTEGER},
            </if>
            <if test="gmtCreate != null">
                #{gmtCreate,jdbcType=TIMESTAMP},
            </if>
            <if test="gmtModify != null">
                #{gmtModify,jdbcType=TIMESTAMP},
            </if>
            <if test="jobRequirements != null">
                #{jobRequirements,jdbcType=LONGVARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelectiveCAS" parameterType="InterviewInfo">

        update interview_info
        <set>
            <if test="interviewName != null">
                interview_name = #{interviewName,jdbcType=VARCHAR},
            </if>
            <if test="interviewLanguage != null">
                interview_language = #{interviewLanguage,jdbcType=VARCHAR},
            </if>
            <if test="programmingLanguage != null">
                programming_language = #{programmingLanguage,jdbcType=VARCHAR},
            </if>
            <if test="positionInfo != null">
                position_info = #{positionInfo,jdbcType=VARCHAR},
            </if>
            <if test="extraData != null">
                extra_data = #{extraData,jdbcType=VARCHAR},
            </if>
            <if test="startTime != null">
                start_time = #{startTime,jdbcType=TIMESTAMP},
            </if>
            <if test="endTime != null">
                end_time = #{endTime,jdbcType=TIMESTAMP},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=INTEGER},
            </if>
            <if test="jobRequirements != null">
                job_requirements = #{jobRequirements,jdbcType=LONGVARCHAR},
            </if>
            version = version+1
        </set>
        where interview_id = #{interviewId,jdbcType=VARCHAR}
        and version = #{version,jdbcType=INTEGER}
    </update>

    <update id="updateByPrimaryKeySelective" parameterType="InterviewInfo">

        update interview_info
        <set>
            <if test="interviewName != null">
                interview_name = #{interviewName,jdbcType=VARCHAR},
            </if>
            <if test="interviewLanguage != null">
                interview_language = #{interviewLanguage,jdbcType=VARCHAR},
            </if>
            <if test="programmingLanguage != null">
                programming_language = #{programmingLanguage,jdbcType=VARCHAR},
            </if>
            <if test="positionInfo != null">
                position_info = #{positionInfo,jdbcType=VARCHAR},
            </if>
            <if test="extraData != null">
                extra_data = #{extraData,jdbcType=VARCHAR},
            </if>
            <if test="startTime != null">
                start_time = #{startTime,jdbcType=TIMESTAMP},
            </if>
            <if test="endTime != null">
                end_time = #{endTime,jdbcType=TIMESTAMP},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=INTEGER},
            </if>
            <if test="jobRequirements != null">
                job_requirements = #{jobRequirements,jdbcType=LONGVARCHAR},
            </if>
            version = version+1
        </set>
        where interview_id = #{interviewId,jdbcType=VARCHAR}
        and version = #{version,jdbcType=INTEGER}
    </update>
</mapper>