<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.keji.green.lit.engine.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="User">
    <id column="uid" jdbcType="BIGINT" property="uid" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="nick_name" jdbcType="VARCHAR" property="nickName"/>
    <result column="user_role" jdbcType="SMALLINT" property="userRole" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="resume_text" jdbcType="LONGNVARCHAR" property="resumeText" />
    <result column="client_ip" jdbcType="VARCHAR" property="clientIp"/>
    <result column="invite_code" jdbcType="VARCHAR" property="inviteCode" />
    <result column="version" jdbcType="INTEGER" property="version" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modify" jdbcType="TIMESTAMP" property="gmtModify" />
  </resultMap>

  <sql id="Base_Column_List">
    uid, status, password, phone, nick_name, user_role, email, gmt_create, gmt_modify, resume_text, version,client_ip, invite_code
  </sql>

  <select id="selectByUid" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user_info
    where uid = #{uid,jdbcType=BIGINT}
  </select>

  <select id="selectByPhone" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from user_info
    where phone = #{phone,jdbcType=VARCHAR}
  </select>

  <insert id="insertSelective" useGeneratedKeys="true" keyProperty="uid" parameterType="User">
    insert into user_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="nickName != null">
        nick_name,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="userRole != null">
        user_role,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="resumeText != null">
        resume_text,
      </if>
      <if test="clientIp != null">
        client_ip,
      </if>
      <if test="inviteCode != null">
        invite_code,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="nickName != null">
        #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="userRole != null">
        #{userRole,jdbcType=SMALLINT},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="resumeText != null">
        #{resumeText,jdbcType=LONGVARCHAR},
      </if>
      <if test="clientIp != null">
        #{clientIp,jdbcType=VARCHAR},
      </if>
      <if test="inviteCode != null">
        #{inviteCode,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <update id="updateSelectiveByUidCAS" parameterType="com.keji.green.lit.engine.model.User">
    update user_info
    <set>
      <if test="nickName != null">
        nick_name = #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="userRole != null">
        user_role = #{userRole,jdbcType=SMALLINT},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="resumeText != null">
        resume_text = #{resumeText,jdbcType=LONGVARCHAR},
      </if>
      <if test="clientIp != null">
        client_ip = #{clientIp,jdbcType=VARCHAR},
      </if>
      version = version + 1
    </set>
    where uid = #{uid,jdbcType=BIGINT}
    and version = #{version,jdbcType=INTEGER}
  </update>

  <update id="updateSelectiveByUid" parameterType="com.keji.green.lit.engine.model.User">
    update user_info
    <set>
      <if test="nickName != null">
        nick_name = #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="userRole != null">
        user_role = #{userRole,jdbcType=SMALLINT},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="resumeText != null">
        resume_text = #{resumeText,jdbcType=LONGVARCHAR},
      </if>
      <if test="clientIp != null">
        client_ip = #{clientIp,jdbcType=VARCHAR},
      </if>
      version = version + 1
    </set>
    where uid = #{uid,jdbcType=BIGINT}
  </update>

  <update id="updateSelectiveByPhone" parameterType="com.keji.green.lit.engine.model.User">
    update user_info
    <set>
      <if test="nickName != null">
        nick_name = #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="userRole != null">
        user_role = #{userRole,jdbcType=SMALLINT},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="resumeText != null">
        resume_text = #{resumeText,jdbcType=LONGVARCHAR},
      </if>
      <if test="clientIp != null">
        client_ip = #{clientIp,jdbcType=VARCHAR},
      </if>
      version = version + 1
    </set>
    where phone = #{phone,jdbcType=VARCHAR}
    and version = #{version,jdbcType=INTEGER}
  </update>

  <select id="selectByInviteCode" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from user_info
    where invite_code = #{inviteCode,jdbcType=VARCHAR}
  </select>

</mapper>